# Set the FPM handler in apache
<FilesMatch \.php$>
  SetHandler "proxy:unix:/run/php-fpm/www.sock|fcgi://./"
</FilesMatch>

# set the proper index precedence
<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>